:root {
    --fontTitle: 'Lobster', cursive;
    --colorBG: #9972662e;
    --colorAccentLight: #5d4037;
    --colorAccentDark: #4c352e;
}


body {
    background-color: var(--colorBG);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Navbar styling */
.cookbook-logo {
    margin: 0 10px;
}

.user {
    padding: 0 15px;
}

#dropdown1 {
    margin-top: 64px;
}

ul[id^=dropdown].dropdown-content {
    width: fit-content !important;
}

.dropdown-content li:hover, .dropdown-content li.active {
    background-color: rgba(121,85,72,0.75);
}

/* General style for titles */
.title {
    font-family: var(--fontTitle);
    font-size: 4.92rem;
    color: var(--colorAccentLight);
    text-shadow: -4px -1px 6px rgb(0 0 0 / 30%);
    margin: 4rem 0;
}

.btn-large {
    margin: 10px 0 20px 0;
}

/* Recipes styling */
.card {
    min-height: 50vh;
}

.card .card-image .card-title {
    width: 100%;
    background-color: rgba(121,85,72,0.75);
}

.card .card-image img {
    height: 30vh;
    object-fit: cover;
}

.search-panel {
    padding: 0;
    margin-top: 5%;
}

.show-recipe-header {
    margin: 7% 0;
}

.method-li {
    padding: 10px 0;
}

/* Recipe styling on the show_recipe.html template */
.image-container {
    height: 200px;
    width: 200px;
}

.small-img {
    max-width: 100%;
    max-height: 100%;
}

/* Modal styling */
.modal-content > p {
    font-size: 24px;
    color: var(--colorAccentLight);
}

/* Footer styling */
.page-footer {
    background-color: var(--colorAccentDark);
}

footer > div.container > div > div > h1 {
    font-size: 24px;
}

.social {
    font-size: 4rem;
}

.youtube {
    color: #ff0000;
}

.twitter {
    color: #1da1f2;
}

.discord {
    color: #5865f2;
}

@media only screen and (max-width: 600px) {
    a.right.brand-logo.cookbook-logo > i {
        line-height: 56px;
    }
}
