:root {
    --fontTitle: 'Lobster', cursive;
    --colorBG: #9972662e;
    --colorAccentLight: #5d4037;
    --colorAccentDark: #4c352e;
}

body {
    background-color: var(--colorBG);
}

.cookbook-logo {
    margin: 0 10px;
}

#dropdown1 {
    margin-top: 64px;
}

.title {
    font-family: var(--fontTitle);
    font-size: 4.92rem;
    color: var(--colorAccentLight);
    text-shadow: -4px -1px 6px rgb(0 0 0 / 30%);
    margin: 4rem 0;
}

ul[id^=dropdown].dropdown-content {
    width: fit-content !important;
}

.dropdown-content li:hover, .dropdown-content li.active {
    background-color: rgba(121,85,72,0.75);
}

.card .card-image .card-title {
    width: 100%;
    background-color: rgba(121,85,72,0.75);
}

.card .card-image img {
    height: 30vh;
    object-fit: cover;
}

.search-panel {
    padding: 0;
    margin-top: 5%;
}

.show-recipe-header {
    margin: 7% 0;
}

.method-li {
    padding: 10px 0;
}

.modal-content > p {
    font-size: 24px;
    color: var(--colorAccentLight);
}

.page-footer {
    background-color: var(--colorAccentDark);
}

.social {
    font-size: 4rem;
}

.youtube {
    color: #ff0000;
}

.twitter {
    color: #1da1f2;
}

.discord {
    color: #5865f2;
}
