{% extends "base.html" %}
{% block content %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="https://cdn.galleries.smcloud.net/t/galleries/gf-zYn3-kBHL-SywB_przepis-na-babeczki-czekoladowe-z-polewa-czekoladowa-i-borowkami-1920x1080-nocrop.jpg" alt="Chocolate muffins with blueberries">
        </div>
    </div>
    <div class="section">
        <div class="row container center-align">
        <h2 class="header title">Welcome to the Cookbook of Sweets</h2>
        <p class="grey-text text-darken-3 lighten-3">
            You can find here lots of sweet recipes. We share love to chocolate.
        </p>
        <p class="grey-text text-darken-3 lighten-3">
            To share your recipes please  <a href="{{ url_for('register') }}">create an account</a>.
        </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://images.unsplash.com/photo-1588195538326-c5b1e9f80a1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="Cake with chocolate sauce">
        </div>
    </div>

{% endblock %}