{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row show-recipe-header">
            <h3 class="center-align title col s12 l8">{{ recipe.title }}</h3>
            <div class="image-container col s12 l4 center-align">
                <img src="{{ recipe.image }}" class="small-img" alt="{{ recipe.title }}">
            </div>
        </div>
        <div class="row card-panel brown lighten-2">
            <div class="col s12 l4">
                <h4>Ingredients:</h4>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>
                        {{ ingredient }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col s12 l8">
                <h4>Method:</h4>
                <ol>
                    {% for method in recipe.method %}
                    <li class="method-li">
                        {{ method }}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}