{% extends "base.html" %}
{% block content %}
    <div class="container">
    </div>
    <div class="row card-panel brown lighten-2">
        <div class="col s12 m8">
            <h4>Method:</h4>
            <ul>
                {% for method in recipe.method %}
                <li>
                    {{ method }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m4">
            <h4>Ingredients:</h4>
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>
                    {{ ingredient }}
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>

{% endblock %}